server:
  port: 8081  # port du auth-service

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update   # pour le dev
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  #jackson:
  #  serialization:
  #    write-dates-as-timestamps: false
  flyway:
    enabled: true
    locations: classpath:db/migration
logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
